.indicationsList {
    width: 100%;
    height: 100%;
}

.emptyListText {
    text-align: center;
    color: #333333;
    font-size: 16px;
}

.table {
    width: 100%;
    border: 1px solid #333333;
    border-radius: 4px;
}

.tableHead {
    border-radius: 4px;
    background-color: #bbbbbb;
}

.tableHeadRow {
    height: 40px;
    border-bottom: 1px solid #333333;
}

.tableRow {
    height: 40px;
}

.tableBody {
    text-align: center;
}

.tableDeleteItem {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteButton {
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteIcon {
    width: 100%;
    height: 100%;
    fill: #ef4444;
}