.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F4F4F4;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
    flex: 1;
    height: 100%;
}